* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Red Hat Display', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

.header {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 20%
}